{% extends 'basic.html' %}
 {% block title%} Home | GamingKeeda - Play, Win and Earn! {% endblock %} 
 {% block head %}
 <meta name="description" content="Play! Win! and Earn! Best Pubg Mobile Tournament website. Come to earn by play PUBG. Best match making low entry fee and high prizepool. Trusted by many youtubers.">
 <meta name="keywords" content="Gaming Keeda, gamingkeeda, gaming keeda, PUBG Tournament, play and earn, Play games and earn, Esports india, Free pubg Tournament, Daily pubg Matches">
 <link rel="stylesheet" href="index.css">
 